{
  margin: 0;
  padding: 0;
}

.btn-anime {
  background-color: #00acee;
  border-color: #009ad5;
}

.btn-movies {
  background-color: #3399ff;
  border-color: #000000;
}

.btn-genre {
  background-color: #3399ff;
  border-color: #000000;
}

.btn-contact {
  background-color: #3399ff;
  border-color: #000000;
}
.btn-success{
  background-color: #d9b3ff;
  color: white;
  outline-color: white;
}
.btn-success:hover{
  background-color: #b366ff;
  text-decoration: underline;
  outline-color: #b366ff;
}

.btn-outline-success{
  background-color: #d9b3ff
}
.fixthispls{
  margin: 50px 100px;
  background-color: LavenderBlush;
}

ul{
  list-style-type: none;
  color: black;
}


article{
  margin: 50px 100px;
  background-color: LavenderBlush;
}

h1{
  text-decoration: underline;
}


.btn-twitter{
  background-color: #00acee;
  border-color: #009ad5;
}

.btn-facebook{
  background-color: #4868ac;
  border-color: #314776;
}

.btn-pinterest{
  background-color: #b62f26;
  border-color: #b62f26;
}

#social-buttons button{
  color: white
}

footer {
    padding: 25px 0px;
    color: #959595;
    font-size: 12px;
    float: left;
    width: 100%;
    background-image: url(../img/bg/vien_footer.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 20px;
    position: relative;
