{
  margin: 0;
  padding: 0;
}

.btn-anime {
  background-color: #00acee;
  border-color: #009ad5;
}

.btn-movies {
  background-color: #3399ff;
  border-color: #000000;
}

.btn-genre {
  background-color: #3399ff;
  border-color: #000000;
}

.btn-contact {
  background-color: #3399ff;
  border-color: #000000;
}
.btn-success{
  background-color: #d9b3ff;
  color: white;
  outline-color: white;
}
.btn-success:hover{
  background-color: #b366ff;
  text-decoration: underline;
  outline-color: #b366ff;
}
article {
    border: 1px solid black;
    margin: 20px 20px 20px;
    background-color: Aquamarine;
}
.btn-outline-success{
  background-color: #d9b3ff
}
.container{
  background-color: white;
}
