<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="sao.jpg">
    <img src="sao.jpg" alt="Sword Art" width="300" height="200">
  </a>
  <div class="desc">Subbed</div>
</div>

<div class="gallery">
  <a target="_blank" href="sao2.jpg">
    <img src="sao2.jpg" alt="Sword Art" width="300" height="200">
  </a>
  <div class="desc">Dubbed</div>
</div>

<div class="gallery">
  <a target="_blank" href="lights.jpg">
    <img src="lights.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>
